*.pyc

*.pyproj
Debug

*.pyproj
packages.config
applicationhost.config
UpgradeLog.htm
MSBuild.Microsoft.VisualStudio.Web.targets.14.0.0.nupkg
README.md
Microsoft.Web.Publishing.AllFilesInProjectFolder.targets
Microsoft.Web.Publishing.AllFilesInTheProject.targets
Microsoft.Web.Publishing.OnlyFilesToRunTheApp.targets
Microsoft.Web.Publishing.Deploy.FPSE.targets
Microsoft.Web.Publishing.Deploy.FTP.targets
Microsoft.Web.Publishing.Deploy.FileSystem.targets
Microsoft.Web.Publishing.Deploy.MsDeploy.targets
Microsoft.Web.Publishing.Deploy.Package.targets
Microsoft.Web.Publishing.MsDeploy.Common.targets
Microsoft.DNX.Publishing.targets
Microsoft.Web.Publishing.targets
Microsoft.Web.AzureAD.Publishing.targets
Microsoft.WebSite.Publishing.targets
default-publish.ps1
filesystem.pubxml
package.pubxml
publish-module.psm1
Microsoft.Web.Publishing.AspNetCompileMerge.targets
Microsoft.WebApplication.targets
SalesProApplication.pyproj
