{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div id="col-style" class="col-sm-4">
        <h2>List of Agents</h2>
        <section id="agents">
        {% for agent in agents %}
            <ul>
                <a href="{% url 'agent_details' agent.id %}">{{agent.company_name}}</a>
            </ul>
        {% endfor %}
        </section>
    </div>
    <div id="col-style" class="col-sm-6">
        <h2>Agent Properties</h2>
        <a href="{% url 'property' %}"><section id="agents">
        {% for house in property %}
        {{house.agent}}<br/>
        {% endfor %}
        </section></a>
    </div>
</div>

{% endblock %}
