{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <a href="{% url 'reminders' %}"><div id="col-style" class="col-sm-4"><h2>Reminders</h2></div></a>
    <div class="col-sm-7">
        <div id="col-style-inner" class="col-sm-11">
            <h2>Properties</h2>
                {% for property in properties %}
                    <li><a href="{% url 'property' property.id %}">Ref: {{property.id}} - {{property}}</a></li>
                {% endfor %}
            </div>
        <a a href="{% url 'exchanges' %}"><div id="col-style-inner" class="col-sm-11"><h2>Exchanges</h2></div></a>        
    </div>
</div>
{% endblock %}
