<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/simple-sidebar.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    {% include 'material/includes/material_js.html' %}

</head>

<body>  
    <div class="toggled" id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'add_agent' %}">Add agent</a></li>
                <li><a href="{% url 'agents' %}">Agents</a></li>
                <li><a href="{% url 'reminders' %}">Reminders</a></li>
                <li><a href="{% url 'exchanges' %}">Exchanges</a></li>
                <li><a href="{% url 'property' %}">Property</a></li>
                <li><a href="{% url 'new' %}">New Sale</a></li>
                <li><a href="{% url 'milestones' %}">Milestones</a></li>
                <li><a href="{% url 'chain' %}">Chain Info</a></li>
                <li><a href="{% url 'report' %}">Report</a></li>
                <li><a href="{% url 'pipeline' %}">Pipeline</a></li>
                <li>{% include 'app/loginpartial.html' %}</li>
            </ul>      
        </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="nav-button" id="menu-toggle"><img style="display:inline-block" src="{% static 'app/images/sales-pro.png' %}" /></a>
                    <h1 style="display:inline-block;margin-left: 30px;">{{ title }}</h1><br />
                    {% block content %} 
                    {% endblock %}
                </div>
            </div>
            <hr/>
            <footer>
                <p>&copy; {{ year }} - SalesPro</p>
            </footer>
        </div>
    </div>
</div>
        

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
