{% extends "app/layout.html" %}

{% block content %}


<hr>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm" class="form-horizontal">
            <div class="row">
                
                <h4 class="btn btn-info" data-toggle="collapse" data-target="#vendors">Enter Vendors</h4>
                <form id="vendors" action="." class="collapse" method="post">
                    {% csrf_token %}
                    <div class="col-md-4 ">
                        <h4 class="form-header">Vendor 1</h4>

                        <div class="form-group">
                        
                            <label for="id_firstName">First Name</label>
                            {{ vendor_form.first_name_v_1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ vendor_form.last_name_v_1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ vendor_form.telephone_v_1 }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="form-header">Vendor 2</h4>
                        <div class="form-group">
                            <label for="id_firstName">First Name</label>
                            {{ vendor_form.first_name_v_2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ vendor_form.last_name_v_2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ vendor_form.telephone_v_2 }}
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <h4 class="form-header">Vendor 3</h4>
                        <div class="form-group">
                            <label for="id_firstName">First Name</label>
                            {{ vendor_form.first_name_v_3 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ vendor_form.last_name_v_3 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ vendor_form.telephone_v_3 }}
                        </div>
                    </div>
                </form>
                {% if vendor_form.errors %}
                    <p class="validation-summary-errors">Please check the details you have entered.</p>
                    {% for error in vendor_form.errors %}
                    <p class="validation-summary-errors">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <h4 class="btn btn-info" data-toggle="collapse" data-target="#purchasers">Enter Purchasers</h4>
                <form id="purchasers" action="." class="collapse" method="post">
                    {% csrf_token %}
                    <div class="col-md-4 ">
                        <h4 class="form-header">Purchaser 1</h4>
                        <div class="form-group">
                            <label for="id_firstName">First Name</label>
                            {{ purchaser_form.first_name_p_1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ purchaser_form.last_name_p_1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ purchaser_form.telephone_p_1 }}
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <h4 class="form-header">Purchaser 2</h4>
                        <div class="form-group">
                            <label for="id_firstName">First Name</label>
                            {{ purchaser_form.first_name_p_2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ purchaser_form.last_name_p_2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ purchaser_form.telephone_p_2 }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="form-header">Purchaser 3</h4>
                        <div class="form-group">
                            <label for="id_firstName">First Name</label>
                            {{ purchaser_form.first_name_p_3 }}
                        </div>
                        <div class="form-group">
                            <label for="id_lastName">Last Name</label>
                            {{ purchaser_form.last_name_p_3 }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ purchaser_form.telephone_p_3 }}
                        </div>
                    </div>
                </form>
                {% if purchaser_form.errors %}
                    <p class="validation-summary-errors">Please check the details you have entered.</p>
                    {% for error in purchaser_form.errors %}
                    <p class="validation-summary-errors">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <h4 class="btn btn-info" data-toggle="collapse" data-target="#property">Property Details</h4>
                <form id="property" action="." class="collapse" method="post">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <h4 class="form-header">Address</h4>
                        <div class="form-group">
                            <label for="id_addressLine1">Address Line 1</label>
                            {{ property_form.address_line_1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_addressLine2">Address Line 2</label>
                            {{ property_form.address_line_2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_addressLine3">Address Line 3</label>
                            {{ property_form.address_line_3 }}
                        </div>
                        <div class="form-group">
                            <label for="id_postcode">Postcode</label>
                            {{ property_form.postcode }}
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <h4 class="form-header">Agent Information</h4>
                        <div class="form-group">
                            <label for="id_companyName">Company Name</label>
                            {{ agent_form.company_name }}
                        </div>
                        <div class="form-group">
                            <label for="id_contactName">Contact Name</label>
                            {{ agent_form.contact_name }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Telephone Number</label>
                            {{ agent_form.telephone_agent }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email Address</label>
                            {{ agent_form.email_address }}
                        </div> 
                    </div>
                </form>
                {% if agent_form.errors or property_form.errors%}
                    <p class="validation-summary-errors">Please check the details you have entered.</p>
                    {% for field in agent_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    {% for field in property_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }} 
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <h4 class="btn btn-info" data-toggle="collapse" data-target="#sale">Sale Information</h4>
                <form id="sale" action="." class="collapse" method="post"><br />
                    {% csrf_token %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_companyName">Agreed Price</label>
                            {{ sale_form.agreed_price }}
                        </div>
                        <div class="form-group">
                            <label for="id_contactName">Agent Commission</label>
                            {{ sale_form.agent_commission }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Freehold</label>
                            {{ sale_form.freehold }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Leasehold</label>
                            {{ sale_form.leasehold }}
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_email">Lease Length</label>
                            {{ sale_form.lease_length }}
                        </div>
                        <div class="form-group">
                            <label for="id_companyName">Date Agreed</label>
                            {{ sale_form.date_agreed }}
                        </div>
                        <div class="form-group">
                            <label for="id_contactName">Date Targetted</label>
                            {{ sale_form.date_targeted }}
                        </div>
                        <div class="form-group">
                            <label for="id_telephone">Required Finance</label>
                            {{ sale_form.required_finance }}
                        </div>
                    </div>
                </form>
                {% if sale_form.errors %}
                    <p class="validation-summary-errors">Please check the details you have entered.</p>
                    {% for error in sale_form.errors %}
                    <p class="validation-summary-errors">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <form name="newpropertyform" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" class="btn btn-info " value="Add sale"></input>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
