{% extends "app/layout.html" %}

{% block content %}
{{ milestones_form.media }}
<div class="row">
    <div id="col-style" class="col-sm-4">
        <h1>Milestones</h1>
        <form id="milestone-form" class="form-group" data-property-id="{{property_id}}">
            {% csrf_token %}
            {{milestones_form.errors}}
            <div style="display:none">{{milestones_form.property_obj}}</div>
            <li class="milestone" id="milestone1">{{milestones_form.milestone1.label}} {{milestones_form.milestone1}} - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <br />
            <div>
                {{milestones_form.date1.label}} {{milestones_form.date1}}<br>
                {{milestones_form.message1}}<hr />
            </div>
            <li class="milestone" id="milestone1">{{milestones_form.milestone1.label}} {{milestones_form.milestone1}} - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <br />
            <div>
                {{milestones_form.date2.label}} {{milestones_form.date2}}<br>
                {{milestones_form.message2}}<hr />
            </div>
            <li class="milestone" id="milestone1">{{milestones_form.milestone1.label}} {{milestones_form.milestone1}} - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <br />
            <div>
                {{milestones_form.date3.label}} {{milestones_form.date3}}<br>
                {{milestones_form.message3}}<hr />
            </div>
            <li class="milestone" id="milestone1">{{milestones_form.milestone1.label}} {{milestones_form.milestone1}} - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <br />
            <div>
                {{milestones_form.date4.label}} {{milestones_form.date4}}<br>
                {{milestones_form.message4}}<hr />
            </div>
            <li class="milestone" id="milestone1">{{milestones_form.milestone1.label}} {{milestones_form.milestone1}} - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <br />
            <div>
                {{milestones_form.date5.label}} {{milestones_form.date5}}<br>
                {{milestones_form.message5}}<hr />
            </div>        
        </form>
    </div>
    <div class="col-sm-7">
        <a href="{% url 'chain' %}">
            <div id="col-style-inner" class="col-sm-11">
                <h1>Chain</h1>
                Property: {{property_id}}
            </div>
        </a>
        <a a href="{% url 'report' %}"><div id="col-style-inner" class="col-sm-11"><h1>Report</h1></div></a>        
    </div>
</div>

<script>
    //=================== SCRIPT =================================//
    // This is the ajax bit that updates the milestones model dynamically when the agent enteres data
    var $form = $("#milestone-form");
    $form.find("[type='checkbox'], input, textarea").each(function () {
        var property_id = $form.data("property-id");
        $(this).on("change", function () {
            $.ajax({
                type: "POST",
                url: '/update_milestones/' + property_id + '/',
                error: function (request, error) {
                    console.log(error);
                },
                data: $form.serialize(),
                success: successFunc,
                failure: failureFunc,
                dataType: 'html'
            });
        });
    });

    // Use this function to do stuff if milestone update is successful
    function successFunc(data, textStatus, jqXHR) {
        console.log(data)
    }
    // Use this function to do stuff if not successful. For example show validation messages?
    function failureFunc(data, textStatus, jqXHR) {
        console.log(data)
    }
</script>

{% endblock %}
