{% extends "app/layout.html" %}

{% block content %}
{{ property_form.media }}
<div class="row">
    <div id="col-style" class="col-sm-4">
        <h2>Milestones</h2>
        <ul>
            <li>Milestone 1 - {% if milestones.milestone1 == True %}Complete{% else %}Pending{% endif %}</li>
            <li>Milestone 2 - {% if milestones.milestone2 == True %}Complete{% else %}Pending{% endif %}</li>
            <li>Milestone 3 - {% if milestones.milestone3 == True %}Complete{% else %}Pending{% endif %}</li>
            <li>Milestone 4 - {% if milestones.milestone4 == True %}Complete{% else %}Pending{% endif %}</li>
            <li>Milestone 5 - {% if milestones.milestone5 == True %}Complete{% else %}Pending{% endif %}</li>
        </ul>
        {{milestones_form}}
    </div>
    <div class="col-sm-7">
        <a href="{% url 'chain' %}">
            <div id="col-style-inner" class="col-sm-11">
                <h2>Chain</h2>
                Property: {{property_id}}
            </div>
        </a>
        <a a href="{% url 'report' %}"><div id="col-style-inner" class="col-sm-11"><h2>Report</h2></div></a>        
    </div>
</div>
{% endblock %}
