body {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif !important;
    font-size:17px !important;
    background: #1972B0 !important;
    color: #F8F8F8 !important;
    position: absolute;
    width:100%;
}
input {
    
}
#link {
    color: #F8F8F8;
}

a:hover {
    color:#F8F8F8;
    opacity:0.7;
    text-decoration: none;
}
#search {
    float: right;
    
    margin-top:20px;
}
#search-input {
    border-radius: 10px;
}
.list-container {
    display: none; 
    background-color: #1972B0; 
    z-index: 100; 
    position: relative; 
    border: solid; 
    padding: 5px;
    border-radius: 10px;
}
.navbar-default {
    margin: 25px 0 0 90px;
    background-color: rgba(248, 248, 248, 0);
}

.table-condensed {
	background-color: #1972B0;
}
#header-inner {
    margin-top:20px;
}
li {
    list-style-type: none;
}
#logo {
    height: 90px;
}
.container-fluid {
    background: #1972B0;
}
textarea {
    border-radius: 4px;
    color: #1972B0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #1972B0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #F8F8F8;
}
.margin-main {
    margin: 0 0 0 40px;
}
#margin-head {
    margin: 20px 80px 20px 40px;
    -webkit-box-shadow: none;
    border: none;
}
#col-style-left {
    margin-bottom: 35px;
    border-radius: 10px;
    margin-left:55px;
    background-color: #1972B0;
    border: 4px solid #F8F8F8;
    height: 700px;
    overflow: scroll;
}
#col-style-right {
    margin-bottom: 35px;
    border-radius: 10px;
    margin-left:55px;
    background-color: #1972B0;
    border: 4px solid #F8F8F8;
    height: 700px;
    overflow: scroll;
    width:46%;
}
#col-style-inner {
    height: 333px;
    background: #F8F8F8;
    margin-left: 55px;
    margin-bottom: 35px;
    overflow: scroll;
    border-radius: 10px;
    background-color: #1972B0;
    border: 4px solid #F8F8F8;
}

#col-style-solo {
    margin-bottom: 35px;
    border-radius: 10px;
    margin-left:55px;
    background-color: #1972B0;
    border: 4px solid #F8F8F8;
    height: 700px;
    overflow: scroll;
    width:90%;
}
#form-layout {
    width: 337px;
    max-width: 100%;
}

.form-header {
    font-weight:bold;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}