body {
    padding-bottom: 20px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size:20px;
    background: #1972B0;
    color: #fff;

}

a {
    color:#fff;
}
a:hover {
    color:#fff;
    opacity:0.5;
}
.table-condensed {
	background-color: #1972B0;
}
li {
    list-style-type: none;
}

textarea {
    border-radius: 4px;
    color: #1972B0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #1972B0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #fff;
}

#col-style {
    height: 500px;
    background: #fff;
    border-radius: 7px;
    margin-right: 5px;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 35px;
    overflow: auto;
    background-color: #1972B0;
    border: 4px solid #fff;
}
#col-style-inner {
    height: 231px;
    background: #fff;
    border-radius: 7px;
    margin-right: 20px;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 35px;
    overflow: auto;
    background-color: #1972B0;
    border: 4px solid #fff;
}

.form-header {
    font-weight:bold;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}