{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div id="col-style-solo" class="col-sm-11">
        <h1>Add Progressor</h1><hr>
        <section id="add-progressor" class="form-horizontal">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-4 ">
                    {{progressor_form}}
                </div>
                <input type="submit" class="btn btn-info " value="Add" />
            </form>
        </section>
    </div>
</div>
{% endblock %}

