{% extends "app/layout.html" %}

{% block content %}
{{ property_form.media }}
<div class="row">
    <div id="col-style" class="col-md-10">     
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-3 ">
                <h4 class="form-header">Property</h4>
                {% for field in property_form %}
                    {% if forloop.counter < 5 %}
                        {{field.label}}
                        {{field}}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3 ">
                <h4 class="form-header">Finance</h4>
                {% for field in property_form %}
                    {% if forloop.counter >= 5 %}
                        {{field.label}}
                        {{field}}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3 ">
                <h4 class="form-header">Seller</h4>
                {{seller_form}}
                {{seller_profile_form}}
                {{user_seller_form}}
            </div>
            <div class="col-md-3 ">
                <h4 class="form-header">Buyer</h4>
                {{buyer_form}}
                {{buyer_profile_form}}
                {{user_buyer_form}}
            </div>
            <input type="submit" class="btn btn-info " value="Add sale"/>
        </form>
    </div>
</div>

{% endblock %}
